:root {
    --primary: hsl(220, 98%, 61%);
    --primary-bg: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
    --light-gray: hsl(0 66% 5%);
    --light-grayish-blue: hsl(236, 33%, 92%);
    --lighter-grayish-blue: hsl(233, 11%, 84%);
    --dark-grayish-blue: hsl(236, 9%, 61%);
    --darker-grayish-blue: hsl(235, 19%, 35%);
    /* Dark Theme  */
    --dark-blue: hsl(235, 21%, 11%);
    --darker-desaturated-blue: hsl(235, 24%, 19%);
    --light-grayish-blue-dark: hsl(234, 39%, 85%);
    --light-grayish-blue-hover: hsl(236, 33%, 92%);
    --dark-grayish-blue-dark: hsl(234, 11%, 52%);
    --dark-grayish-blue-dark: hsl(233, 14%, 35%);
    --darker-grayish-blue-dark: hsl(237, 14%, 26%);
    /* typography */
    --font: 18px;
    --primary-weight: 400;
    --secondary-weight: 700;
    --font-family: 'Josefin Sans', sans-serif;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

/* Set global styles */
body {
    background-color: var(--dark-blue);
    color: var(--text-color);
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

p {
    font-size: 1.6rem;
}

.bg-img {
    background: url(./images/bg-desktop-dark.jpg) no-repeat center center / cover;
    height: 40dvh;
    z-index: -1;
}

/* Style header */
header {
    display: flex;
    justify-content: space-between;
}

.theme>button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Style container */
.container {
    max-width: 50%;
    margin: 0 auto;
    padding: 3rem;
    color: var(--light-grayish-blue-dark);
}

/* Style todo app */
.todo-container {
    /* background-color: var(--darker-desaturated-blue); 
    box-shadow: var(--box-shadow);
    border-radius: 5px; */
    padding: 2rem;
}

/* Style input form */
.todo-content form .input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    background-color: var(--darker-desaturated-blue);
    /* box-shadow: var(--box-shadow); */
}

form .input-group>button:hover {
    background-color: var(--light-grayish-blue-hover);
}

.todo-content form .check-box {
    margin-left: 1.5rem;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
}

/* input#priority.check-box.check {
    border-radius: 10px;
} */

.todo-content form .text-input {

    border: none;
    background-color: transparent;
    color: var(--light-grayish-blue);
    font-size: 1.6rem;
    padding: 1.2rem;
    border-radius: 5px;
    /* box-shadow: var(--box-shadow); */
}

.todo-content form .text-input:focus {
    outline: none;
}

.todo-content form button {
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 1.6rem;
    padding: 1.2rem 2.5rem;
    border-radius: 5px;
    margin-left: 1.5rem;
    cursor: pointer;
}

.input-group button:hover {
    background-color: var(--primary);
    color: var(--dark-grayish-blue);
    transition: all 200ms ease-in-out;
}


/* Style todo items */
.todo-items {
    margin-top: 1.5rem;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem;
    border-bottom: 1px solid var(--dark-grayish-blue-dark);
    background-color: var(--darker-desaturated-blue);
    box-shadow: var(--box-shadow);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

/* .todo-item .checkbox {
    margin-right: 1.5rem;
} */
.todo-item .item-checkbox input {
    background: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    border-radius: 50px;
}

/*
.item-checkbox input[type="checkbox"]:checked+label {
    background: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
} */

.todo-item p {
    flex: 1;
    margin-left: 1.5rem;
    text-decoration: none;
}

.todo-item button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.todo-item button img {
    width: 20px;
    height: 20px;
}

/* Style todo bottom section */
.todo-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem;
    background-color: var(--darker-desaturated-blue);
    box-shadow: var(--box-shadow);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.todo-bottom button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.active {
    color: blueviolet;
}

.items-left {
    font-size: 1.4rem;
    color: var(--text-color-light);
}

.filters {
    display: flex;
    justify-content: space-between;
}

.filters li {
    list-style: none;
    margin-left: 5%;
}

button {
    color: var(--light-grayish-blue);
}

.filters li>button {
    list-style: none;
    margin-left: 5%;
    color: var(--light-grayish-blue);
}



/* Styling for footer */

.attribution {
    color: blueviolet;

}

.footer-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text p {
    margin: 0;
    font-size: var(--primary-weight);
}

.attribution a {
    text-decoration: underline;
    text-align: center;
    color: var(--primary);
}




@media (max-width: 767px) {

    .bg-img {
        background: url(./images/bg-desktop-dark.jpg) no-repeat center center / cover;
        height: 40vh;
        width: 100%;
        z-index: -1;
    }

    .container {
        max-width: 100%;
        margin: 0;
        margin-right: 0;
        padding: 3rem;
        color: var(--light-grayish-blue-dark);
    }

    header {
        margin-top: 10%;
    }

    .todo-container {
        padding: 0;
    }

    form {
        width: 100%;
        margin-top: 15%;
    }

    .todo-content form .input-group {
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
        margin-bottom: 1.5rem;
        background-color: var(--darker-desaturated-blue);
        /* box-shadow: var(--box-shadow); */
        width: 80vw;
    }

    .todo-content form .check-box {
        margin-left: 1.5rem;
        cursor: pointer;
        width: 1rem;
        height: 1rem;
    }


    .todo-content form .text-input {
        border: none;
        background-color: transparent;
        color: var(--light-grayish-blue);
        font-size: 1.6rem;
        padding: 1.2rem;
        border-radius: 5px;
        width: 100%;
        /* box-shadow: var(--box-shadow); */
    }

    .todo-bottom {
        position: relative;
    }

    .filters {
        position: absolute;
        bottom: -150%;
        /* left: 5%; */
        right: 0;
        display: flex;
        width: 80vw;
        justify-content: space-evenly;
        padding: 1.2rem;
        background-color: var(--darker-desaturated-blue);
        box-shadow: var(--box-shadow);
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;

    }

    .filters li {
        list-style: none;
    }
}

@media (min-width:768px) and (max-width:1023px) {
    .bg-img {
        background: url(./images/bg-desktop-dark.jpg) no-repeat center center / cover;
        height: 30vh;
        width: 100%;
        z-index: -1;
    }

    header {
        margin-top: 29%;
    }

    .container {
        max-width: 100%;
        margin: 0;
        margin-right: 0;
        padding: 3rem;
        color: var(--light-grayish-blue-dark);
    }

    .todo-content form .input-group {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
        margin-top: 5%;
        background-color: var(--darker-desaturated-blue);
    }
}

@media (min-width:375px) and (max-width:667px) {
    .todo-item {
        padding: 1.2rem;
        width: 80vw;
    }



    .todo-bottom {
        width: 80vw;
    }
}

@media (min-width:375px) and (max-width:667px) {
    .todo-item {
        padding: 1.2rem;
        width: 80vw;
    }

    .todo-bottom {
        width: 80vw;
    }

    .todo-content form .check-box {
        margin-left: 1.5rem;
        cursor: pointer;
        width: 1rem;
        height: 1rem;
    }

    .footer-text p {
        margin-left: 5%;
        font-size: var(--primary-weight);
    }
}